<a href="https://colab.research.google.com/github/SooryaGmk/star-pattern/blob/main/star_pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#hollow pyramid

r=int(input('enter the number of rows:'))
for i in range(1,r+1):
  for j in range(1,2*r):
    if i==r or i+j==r+1 or j-i==r-1:
      print("*",end=' ')
    else:
        print(" ",end=' ')
  print()

enter the number of rows:5
        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [ ]:
r=int(input('enter the number of rows:'))
for i in range(1,r+1):
  for j in range(1,2*r):
    if i==r and j%2==0 or i+j==r+1 or j-i==r-1:
      print("*",end=' ')
    else:
        print(" ",end=' ')
  print()

enter the number of rows:5
        *
      *   *
    *       *
  *           *
* *   *   *   * *

In [ ]:
#butterfly pattern

r=int(input("enter the number of rows:"))
for i in range(1,r+1):
  print("*"*i,end='')
  print(" "*(r-i)*2,end='')
  print("*"*i)
for i in range(r,0,-1):
  print("*"*i,end='')
  print(" "*(r-i)*2,end='')
  print("*"*i)

enter the number of rows:5
*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [ ]:
# right angle triangle

n=int(input("enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

enter a number:6
*
**
***
****
*****
******

In [ ]:
# inverted hollow triangle

r=int(input("enter the number of rows:"))
for i in range(1,r+1):
  for j in range(1,2*r):
    if (i==1 and j%2!=0) or i==j or i+j==r*2:
      print("*",end=' ')
    else:
      print(" ",end=' ')
  print()

enter the number of rows:6
*   *   *   *   *   *
  *               *
    *           *
      *       *
        *   *
          *

In [ ]:
# pyramid pattern

r=int(input("enter the number of rows:"))
k=r-1
z=1
for i in range(1,r+1):
  print(' '*k,'* '*z,end=' ')
  k=k-1
  z=z+1
  print()

enter the number of rows:6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [ ]:
# inverted pyramid

r=int(input("enter the number of rows:"))
k=0
z=r
for i in range(1,r+1):
  print(' '*k,'* '*z,end=' ')
  k=k+1
  z=z-1
  print()

enter the number of rows:6
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
# hollow square

r=int(input("enter the number of rows:"))
c=int(input("enter the number of columns:"))
for i in range(1,r+1):
  for j in range(1,c+1):
    if i==1 or i==r or j==1 or j==c:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows:6
enter the number of columns:5
* * * * *
*       *
*       *
*       *
*       *
* * * * *

In [ ]:
# solid diamond

r=int(input("enter the number of rows:"))
k1=r-1
k2=0
for i in range(1,r):
  print(' '*k1,"* "*i,end='')
  k1=k1-1
  print()
for i in range (r,0,-1):
  print(" "*k2,"* "*i,end='')
  k2=k2+1
  print()

enter the number of rows:5
     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
# hollow diamond inside a rectangle

r=int(input("enter the number of rows:"))
for i in range(r,0,-1):
  print("*"*i,end='')
  print(" "*(r-i)*2,end='')
  print("*"*i)
for i in range (1,r+1):
  print("*"*i,end='')
  print(" "*(r-i)*2,end='')
  print("*"*i)

enter the number of rows:6
************
*****  *****
****    ****
***      ***
**        **
*          *
*          *
**        **
***      ***
****    ****
*****  *****
************

In [ ]:
# into mark

n=int(input("enter a number:"))
for i in range(n):
  for j in range(n):
    if i==j or i+j==n-1:
      print("* ",end='')
    else:
      print(" ",end='')
  print()

enter a number:7
*      *
 *    *
  *  *
   *
  *  *
 *    *
*      *

In [ ]:
r=int(input("enter the number of rows:"))
k=0
z=r
for i in range(1,r+1):
  print(' '*k,'* '*z,end=' ')
  k=k+1
  z=z-1
  print()
m=r-1
n=1
for i in range(1,r+1):
  print(' '*m,'* '*n,end='')
  m=m-1
  n=n+1
  print()

enter the number of rows:6
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *